body {
    padding: 0;
    margin: 0;
    
}

/* TITULOS H1*/
h1 {
    text-align: center;
    text-decoration: underline;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
/*MENU Y SUBMENU DE MARVEL */
header {
    background-color:#EDBF24;
    color: #1C1C1A;
   
    border-bottom: 2px solid white;
}

header img {
    display: flex;
    position:sticky;
    margin: auto;
    
   margin-bottom: 5px;
}
nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
    margin: 0 5px;
}

.menu a {
    padding-top: 10px;
    color: #1C1C1A;
    font-size: 1em;
    text-decoration: none;
    font-weight: bolder;
}

.submenu {
    display: none;
    position: absolute;
    width: 90px;
    top: 100%;
    left: 0;
    background-color: #EDBF24;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 0;
}

.submenu a {
    padding: 5px;
    display: block;
    color: black;
    font-size: 12px;
    text-align: justify;
    margin: 1px;
}

/* footer y icono de whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-icon img {
    width: 30px; /* Puedes ajustar este valor según sea necesario */
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
  }
  
  footer {
    background-color: #EDBF24;
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    padding-bottom: 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer li {
    color: black;
  font-size: 12px;
    margin: 5px 0;
    text-align: justify;
}
footer a {
    color: black;
    text-decoration: none;
    margin: 0 5px;

}
footer P {
  font-size: 1rem;
  text-align: justify;
  color: black;
  font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
}
.copy {
  text-align: center;
}

/*seccion de card*/

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

.descuento {
    background-color: #EDBF24;
    font-weight: bolder;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    border-radius: 1px;
    text-decoration: underline;
}

.card {
    background-color: #fff;
    border: 5px solid #EDBF24;
    width: 270px; /* ANCHO DE LA CARD*/
    height: 415px; /*ALTURA DE LA CARD*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 20px;
    transition: transform 0.10s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    
    width: 100%;
    height: 40%;
    max-height: 200px;
}

.card h3 {
    margin: 1px;
    color: black;
}

.card p {
    font-size: 15px;
    text-align:center;
    color: #333;
}

.card label{
    color: black;
  
}

.cart-total {
    color: white;
}

.card input,
.card button {
    margin: 5px 0;
}


.add-to-cart {
    display: block;
    position: relative;
    left: 80px;
    background-color:#EDBF24;
    color: black;
    border: none;
    margin-top: 100px;
    padding: 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: red;
}


.cantidad-input {
    width: 40px;
    height: 20px;
    text-align: center;
    
}

.cart {
    
    background-color:#EDBF24;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-top: 0;
    color: black;
}

.cart ul {
    list-style: none;
    padding: 0;
    color: white;
}

.cart li {
    font-size: 13px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart button {
    background-color: #28a745;
    font-size: 10px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.cart button:hover {
    background-color: red;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Contenido de la ventana modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center; /* Centrar contenido */
}

/* Imagen dentro de la ventana modal */
.modal-content img {
    width: 100%; /* Ancho de la imagen */
    max-width: 1000px; /* Ancho máximo de la imagen */
    height: auto; /* Mantener proporción de la imagen */
    margin: 0 auto; /* Centrar imagen horizontalmente */
}

/* El botón de cerrar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
